/* =================== Carosel ================== */
.carosel {
	&__container {
		position: relative;
		display: flex;
		width: 100%;
		height: 47vh;
	}

	&__box {
		position: relative;
		width: 25%;
		height: 100%;
		overflow: hidden;
		cursor: pointer;

		&:not(:last-child) {
			border-right: 1rem solid $color-white;
		}
	}

	&__img-box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease-in-out;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease-in-out;
	}

	&__img-box:hover &__img {
		transform: scale(1.15);
	}
}
