/* =================== Form ================== */
.form {
	&__group {
		display: flex;
		flex-direction: column;
		margin-top: 0.5rem;
	}

	&__input-wrapper {
		position: relative;
	}

	&__input {
		color: $color-font;
		font-size: 1.3rem;
		font-family: inherit;
		line-height: 1.5;

		padding: 1rem 1.5rem;
		border-radius: 0.8rem;
		background-color: $color-white;

		border: 0.2rem solid;
		border-color: rgba($color-primary-light, 0.7);

		width: 100%;
		display: block;

		transition: all 0.25s;

		&:focus {
			outline: none;
			border-color: rgba($color-primary-light, 0.7);
		}

		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}

		&:placeholder-shown {
			border-color: rgba($color-grey-light-4, 0.5);
		}

		&--unvalid,
		&:focus:invalid {
			border-color: $color-red !important;
		}

		&--valid {
			border-color: $color-valid !important;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 3%;
		transform: translateY(-50%);
		font-weight: 500;

		&--valid {
			color: $color-valid;
		}

		&--unvalid {
			color: $color-red;
		}
	}

	&__select {
		color: $color-font;
		font-size: 1.3rem;
		font-family: inherit;
		line-height: 1.5;

		padding: 1rem 1.5rem;
		border-radius: 0.8rem;
		background-color: $color-white;

		border: 0.2rem solid rgba($color-grey-light-4, 0.7);
		width: 100%;
		display: block;

		transition: all 0.25s;

		&:focus {
			outline: none;
			border: 0.2rem solid rgba($color-primary-light, 0.7);
		}

		&--error,
		&:focus:invalid {
			border-color: $color-red;
		}

		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}

	&__label {
		order: -1;
		color: $color-font;
		font-size: 1.45rem;
		font-weight: 600;
		margin-left: 1.5rem;
		margin-top: 1rem;
		display: block;
		transition: all 0.3s;
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(3.5rem);
	}

	&__submit {
		display: block;
		width: 100%;
		background-color: $color-primary-dark;
		color: $color-white;
		font-size: 1.5rem;
		font-weight: 600;
		border-radius: 0.8rem;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
		margin: 2rem 0;
	}

	&__error-msg {
		color: $color-red;
		font-weight: 500;
		font-size: 1.3rem;
		margin-left: 1rem;
	}
}
