/* =================== Pagination ================== */
.text-bold {
	font-weight: 600;
}

.text-medium {
	font-size: 1.5rem;
}

.text-center {
	text-align: center;
}

.mt-medium {
	margin-top: 2.5rem;
}
