/* ================= Buttons ================= */
.btn {
	&,
	&:link,
	&:visited {
		appearance: none;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		cursor: pointer;
		z-index: 1;
		transition: all 0.25s;

		position: relative;

		//Change for the <button> element
		border: none;
	}

	&:hover,
	&:focus {
		outline: none;
		box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.2);
		transform: translateY(-0.3rem);
	}

	&:active {
		box-shadow: 0 0.8rem 1.5rem rgba($color-black, 0.2);
		transform: translateY(0.3rem);
	}

	&-cta {
		width: 48%;
		background: linear-gradient(
			to right,
			rgb(26, 188, 244),
			rgb(93, 239, 184)
		);
		color: $color-white;
		font-size: 1.5rem;
		font-weight: 500;
		border-radius: 30rem;
		margin: 0;
		z-index: 1;
		position: relative;
		padding: 1.2rem 0rem !important;
		text-align: center;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 30rem;
			background-color: rgba($color-green, 0.4);

			z-index: -1;
			transition: all 0.4s;
		}

		&:hover::before {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&-add {
		display: block;
		width: 3.5rem;
		height: 3.5rem;
		background-color: rgba($color-green, 0.7);
		border-radius: 50%;
		cursor: pointer;
		position: relative;
		transition: all 0.25s;

		i {
			color: $color-white;
			display: flex;
			justify-content: center;
			margin-left: -0.3rem;
			line-height: 3.5rem;
			transition: all 0.25s;
		}

		&:hover {
			border: 1px solid rgba($color-green, 0.7);
			background-color: transparent;
		}

		&:hover i {
			color: $color-primary-dark;
		}
	}

	&-minus,
	&-plus,
	&-remove {
		width: 1.8rem;
		height: 1.8rem;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $color-grey-light-4;
		border-radius: 50%;
		color: $color-white;
		font-size: 1.4rem;
		font-weight: 600;

		cursor: pointer;
		position: relative;
		transition: all 0.25s;

		&:hover {
			background-color: $color-primary-light;
		}

		&:active {
			background-color: $color-primary-dark;
		}
	}

	&-minus {
		margin-right: 0.5rem;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50%;
			height: 2px;
			background-color: $color-white;
		}
	}

	&-plus {
		margin-left: 0.5rem;

		&::after,
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-white;
		}

		&::after {
			width: 50%;
			height: 2px;
		}

		&::before {
			width: 2px;
			height: 50%;
		}
	}

	&-remove {
		&__icon {
			font-size: 1rem;
		}
	}

	&-error {
		font-size: 1.4rem;
		font-weight: 500;
		text-transform: uppercase;
		border-radius: 30rem;
		color: $color-white;
		padding: 1.2rem 3.8rem !important;
		background: $color-green;
		margin: 2rem 0;
	}

	&-delete__icon {
		font-size: 1.5rem;
	}

	&-logInOut {
		display: inline-block;
		width: fit-content;
		color: $color-font;
		font-size: 1.3rem;
		font-weight: 200;
		color: $color-primary;
		cursor: pointer;
		position: relative;
		transition: all 0.25s;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0.2rem;
			background: $color-primary;
			opacity: 0;
			visibility: hidden;
			transform: translateX(-50%);
			transition: all 0.25s;
		}

		&:hover::after {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
}
