/* =================== Page 404 ================== */
.page_404 {
	background: $color-white;
	text-align: center;
	width: calc(100% - 40rem);
	margin-left: 10rem;
	margin-right: 30rem;
	height: 100vh;
	min-height: 100vh;

	img {
		width: 100%;
	}

	&-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.four_zero_four_bg {
	background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
	height: 40rem;
	background-position: center;

	h1 {
		font-size: 8rem;
	}

	h3 {
		font-size: 8rem;
	}
}

.contant_box_404 {
	margin-top: -5rem;
}
