/* =================== Checkout ================== */
.checkout {
	&-logo {
		position: fixed;
		top: 3rem;
		left: 1.5rem;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100vh;
		min-height: 100vh;

		& > * {
			padding: 0 12rem;
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&--left {
			width: 70rem;
			background-color: rgba($color-sidebar-light, 0.2);
		}

		&--right {
			flex: 1;
		}
	}

	&__heading-1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&__heading {
		display: block;
		color: $color-heading;
		font-size: 1.9rem;
		font-weight: 600;
	}

	&__total {
		color: $color-red;
		font-weight: 600;
		font-size: 1.5rem;
	}
}

.payment {
	&__text {
		color: $color-font;
	}

	&__detail {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&--heading {
			color: $color-heading;
		}

		&--text {
			font-size: 1.5rem;
			color: $color-heading;
			font-weight: 500;

			&-bold {
				color: $color-heading;
				font-weight: 600 !important;
				font-size: 1.55rem !important;
				color: $color-red;
			}
		}
	}

	&-note {
		color: $color-grey-light-4;

		& b,
		& i {
			margin-right: 0.5rem;
		}
	}
}
